// Specific CSS for your home-page
.banner {
  background-image: url('landingpage_img.png');
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: white;
  font-family: 'Roboto', sans-serif;

  .homepage-content {
    margin: 140px 0 0 30px;
  }

  .banner-title  {
    // position: absolute;
    // width: 710px;
    // height: 131px;
    // left: 122px;
    // top: 308px;

    margin-top: 100px;
    width: 700px;

    font-weight: bold;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
  }

  .home-logo {
    height: 140px;
    width: 140px;
    margin-top: 40px;
    margin-left: 70px;
  }


  h2 {
    // position: absolute;
    // width: 620px;
    // height: 64px;
    // left: 122px;
    // top: 468px;

    margin-top: 25px;
    width: 475px;

    color: $grayboat;
    font-weight: lighter;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  margin-top: 40px;
  padding-right: 10px;
}

.btn1 {
  // position: absolute;
  // width: 224px;
  // height: 54px;
  // left: 122px;
  // top: 561px;
  margin-right: 10px;
  box-sizing: border-box;
  appearance: none;
  background-color: $blue-gray;
  border: 1px solid $blue-gray;
  border-radius: 0.6em;
  color: white;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 1.1em 1.2em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;

  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 40px 40px white inset;
  }

  &:hover,
  &:focus {
    color: $blue-gray;
    outline: 0;
  }
}

.btn2 {
  // position: absolute;
  // width: 223px;
  // height: 54px;
  // left: 365px;
  // top: 561px;

  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 1px solid $blue-gray;
  border-radius: 0.6em;
  color: $blue-gray;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 1.1em 1.2em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;

  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 40px 40px $blue-gray inset;
  }

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}
