// Index page

.page-text {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 25px;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  margin-bottom: 10px;
  color: $grayboat;
  // width: 50%;
}

.introduction-title {
  display: inline-block;
  vertical-align: middle;
  font-family: ‘Roboto’, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  position: relative;
  overflow: hidden;
}

.index-intro {
  margin-top: 40px;
  width: 50%;
}

// show page

.text-img {
  display: flex;
  // flex-direction: row;
  justify-content: space-between;
  // width: 80vw;
  margin-top: 20px;
  line-height: 1.5em;
}

.show-text {
  font-size: 16px;
}

.text-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-booking {
  // position: absolute;
  // width: 224px;
  // height: 54px;
  // left: 122px;
  // top: 561px;
  padding-right: 15px;
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid $blue-gray;
  border-radius: 0.6em;
  color: $blue-gray;
  cursor: pointer;
  display: flex;
  align-self: flex-start;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 1em 1em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;

  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 40px 40px $blue-gray inset;
  }

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}

// MAP

.map {
  margin-top: 35px;
  border-radius: 15px;
}

.carousel-shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}
