.profile {
  h1 {
    font-weight: bold;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
  }
}

.container {
  padding: 20px;
  justify-content: center;
}

.profile-card {
  margin-bottom: 20px;
  // border: 0.5em;
  // border-color: black;
  // border-radius: 0.6em;
  background: #FFFFFF;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.profile-pic {
  border-radius: 50%;
  top: -65px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  max-width: 100px;
  -webkit-transition: all 0.4s;
	transition: all 0.4s;
}


.profile-info {
	color: #000000;
	padding: 25px;
	margin-top: 15px;
}


.hvr-underline-from-center {
  justify-content: center;
  color:#000000;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
}

.profile-info h2 {
  letter-spacing: 4px;
  padding-bottom: 12px;
  letter-spacing: 4px;
  padding-bottom: 12px;
  justify-content: center;
  color:#000000;
  font-family: ‘Roboto’, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
}

.profile-card:hover .profile-pic {
	transform: scale(1.1);
}

.profile-card:hover .profile-info hr  {
	opacity: 1;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 52%;
  right: 52%;
  bottom: 0;
  background: #FFFFFF;
  border-radius: 50%;
  height: 3px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.profile-card:hover .hvr-underline-from-center:before, .profile-card:focus .hvr-underline-from-center:before, .profile-card:active .hvr-underline-from-center:before {
  left: 0;
  right: 0;
  height: 1px;
  background: #CECECE;
  border-radius: 0;
}
