<div class="banner" >
  <div class="container">
    <h1>Navigating Amsterdam has never been easier!</h1>
    <h2>Whether you’d like to rent your own boat or find a boat for the day, you are in the right place.</h2>
    <a class="btn1 btn-flat" href="#">find a boat</a> <a class="btn2 btn-flat" href="#">list a boat</a>
  </div>
</div>
