<div class="banner" >
  <div class="container">
    <div class="homepage-content">
      <h1 class="banner-title">Navigating Amsterdam has never been easier!</h1>
      <h2>Whether you’d like to rent your own boat or find a boat for the day, <strong>On The Boat Again</strong> is the right place.</h2>
      <div class="buttons">
        <a class="btn1" href="boats">find a boat</a>
        <a class="btn2" href="/boats/new">list a boat</a>
      </div>
    </div>
  </div>
</div>
