<div class="profile">
  <h1>My profile</h1>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="profile-card text-center">
        <div class="profile-info">
            <img class="profile-pic" src="https://pbs.twimg.com/profile_images/910579937089859584/rbsL-1ze_400x400.jpg">
            <h2 class="hvr-underline-from-center">Paul McCartney</h2>
            <p>I am a British vocalist, songwriter, composer, bass player, poet, and painter. I worked with the Beatles in the 1960s and helped lift popular music into a creative, highly commercial art form.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%# <h1>My boats</h1>
<h1>My rentals</h1> %>

<%# below here needs to include the cards of boats listed for rent%>
<%# link to DB:create_boats to bring boat card info%>
<%# need to include flex grid system to include however many boats are recalled%>

<%# below here needs to include the cards of boats i'm renting or have rented%>
<%# link to DB:create_bookings to bring boat/booking card info%>
<%# need to include flex grid system to include however many rentals are recalled%>
