a {
  text-decoration: none;
  color: black;
}
.a:hover{
  color: rgb(44, 44, 44);
}
.back-link{
  color: white;
  text-align: left;
  padding-left: 6px;
}
.back-link:hover{
  font-weight: bold;
  color: white;
}
.black-back-link{
  color: black;
}
.black-back-link:hover{
  color: rgb(44, 44, 44);
}
.icon-link:hover{
  color: $blue-gray;
}
.edit-boat-btn{
  margin-right: 16px;
}
