<h1>See all our boats</h1>

<ul>
  <% @boats.each do |boat| %>
    <li><%= link_to boat.name, boat_path(boat) %></li>
  <% end %>
</ul>

<%= cl_image_tag("mxklrxry4tokxvlzvavn", width: 400, height: 300, crop: :fill) %>

<%= link_to "⬅️ Back to all boats", boats_path %>
<%= link_to '➕ Add boat', new_boat_path %>
