<h1 class="page-text">Find a boat</h1>
<p class="page-text">Rent one of our beautiful boats for a lovely day on the water in Amsterdam</p>

<div class="container">
  <div class="cards m-5">
    <% @boats.each do |boat| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path boat.photos.first.key %>')">
      <h4 class="card-category-text"><%= link_to "#{boat.name}", boat_path(boat) %></h4>
      <p class="card-category-text"><i class="fa-solid fa-user"> <%= boat.number_of_people %></i></p>
      <p class="card-category-text price">€ <%= number_with_precision(boat.price, precision: 2) %> p/d</p>
      </div>
    <% end %>
  </div>
</div>

<%# height: 300, width: 400, crop: :fill %>
