<h1 class="page-text">Rent a boat</h1>
<p class="page-text">Rent one of our beautiful boats for a lovely day on the water in Amsterdam</p>

<div class="container">
  <div class="cards m-5">
    <% @boats.each do |boat| %>
      <%= render 'shared/boat', boat: boat %>
    <% end %>
  </div>
</div>

<%# height: 300, width: 400, crop: :fill %>
