<h1><%= @boat.name %></h1>
<p><%= @boat.description %></p>
<h4>€ <%= number_with_precision(@boat.price, precision: 2) %></h4>

<% photos = @boat.photos %>
<% photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
